<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Supervisionador">

        <service
            android:name=".filho.MonitoramentoService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.foreground_service_type" android:value="monitoring"/>
        </service>

        <service
            android:name=".pai.AlertListenerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.foreground_service_type" android:value="monitoring"/>
        </service>

        <service
            android:name=".filho.BloqueioAppAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false"
            android:label="EagleEyes Bloqueio">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".global.PolicyManagerReceiver"
            android:label="Segurança - Controle Parental"
            android:description="@string/device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".filho.BloqueioActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".funcionalidades.historico.RelatorioFilho"
            android:exported="false" />
        <activity
            android:name=".auth.activity.CadastroOpcoesActivity"
            android:exported="false" />
        <activity
            android:name=".filho.HomeFilhoActivity"
            android:exported="false" />
        <activity
            android:name=".pai.HomePaiActivity"
            android:exported="false" />
        <activity
            android:name=".auth.activity.CadastroPaiActivity"
            android:exported="false" />
        <activity
            android:name=".auth.activity.CadastroFilhoActivity"
            android:exported="false" />
        <activity
            android:name=".filho.DetalhesFilhoActivity"
            android:exported="false" />
        <activity
            android:name=".alerta.CriarAlertaActivity"
            android:exported="false" />
        <activity
            android:name=".alerta.AlertasFilhoActivity"
            android:exported="false" />
        <activity
            android:name=".alerta.AlertasActivity"
            android:exported="false" />
        <activity
            android:name=".funcionalidades.historico.CriarHistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".funcionalidades.regra.CriarRegraActivity"
            android:exported="false" />
        <activity
            android:name=".auth.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>